$color-primary: #0e76f9;
$color-secondary: #66bfbf;
$color-primary-dark: #0c60c7;
$color-dark-blue: #010527;
$color-dark2: #212121;
$color-white: #fff;
$color-light: #eeeeee;
$color-gray: #dddddd;
$color-gray2:#414141;
$color-success: #07bc0c;
$color-warning: #f1c40f;
$color-error: #d80e0e;
$color-bg: #00142d;